<div id="carousel-example-generic"  class="carousel slide" data-ride="carousel" xmlns="http://www.w3.org/1999/html">
    <div class="carousel-inner" >
        <div class="item active">
            <img class="img-responsive" src="/img/1920x1080/02.jpg"  alt="Slider Image"/>
            <div class="container body-content span=8 offset=2 custom-top-padding">
                <div class="alert alert-dismissible alert-danger " style="background: #e97313">
                    <font color="white" size="100" > You have no articles</font>
                </div>
            </div>
        </div>
    </div>
</div>
